body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: rgba(121, 4, 231, 0.76);
}

#canvas {
  display: block;
  padding: 1rem;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
}

.container {
  text-align: center;
}
