<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>AI Sudoku Solver</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">SUDOKU SOLVER</div>
    </nav>
    <div class="container">
      <div class="card">
        <canvas id="canvas"></canvas>
      </div>
      <div class="button">
        <input type="file" name="data" id="upload-btn" accept="image/*" />
      </div>
    </div>
    <div id="sudoku-grid"></div>
    <div id="canvas-container"></div>

    <script type="module" src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.6.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/tesseract.min.js"></script>
  </body>
</html>
